<section class="catberry section">
	<div class="ui basic placeholder segment">
  {{#if activePages.news}}
		<cat-page-{{currentPage}} id="pages-current"></cat-page-{{currentPage}}>
  {{else}}
    <cat-page-{{currentPage}} id="pages-current"></cat-page-{{currentPage}}>
  {{/id}}
	</div>
</section>
