<section class="catberry section">
	<div class="ui basic placeholder segment">
  {{#if activePages.news}}
		<cat-page-{{templatePage}} id="pages-current-{{currentPage}}"></cat-page-{{templatePage}}>
  {{else}}
    <cat-page-{{templatePage}} id="pages-current-{{currentPage}}"></cat-page-{{templatePage}}>
  {{/if}}
	</div>
</section>
