<section class="catberry section">
	<div class="ui basic placeholder segment">
  {{#if activePages.news}}
		<cat-articles-list id="pages-articles-list" cat-store="{{storePage}}" category="2" limit="10"></cat-articles-list>
  {{else}}
    <cat-page-{{templatePage}} id="pages-current-{{currentPage}}" cat-store="{{storePage}}" slug="{{currentPage}}"></cat-page-{{templatePage}}>
  {{/if}}
	</div>
</section>
