<section class="wrap section">
{{#if activePages.login}}
  <cat-auth-login id="auth-login" cat-store="auth/Login"></cat-auth-login>
{{else}}
	{{!-- <div class="ui basic placeholder segment"> --}}
  {{#if activePages.news}}
		<cat-articles-list id="pages-articles-list" cat-store="{{storePage}}" category="2" limit="40"></cat-articles-list>
  {{else}}
    <cat-page-{{templatePage}} id="pages-current-{{currentPage}}" cat-store="{{storePage}}" slug="{{currentPage}}"></cat-page-{{templatePage}}>
  {{/if}}
	{{!-- </div> --}}
{{/if}}
</section>